{% extends 'base.html' %}

{% block title %}
    All products
{% endblock title %}

{% block content %}

    <header class="all-page">
        <div class="all-box">
            <!-- back button -->
            <a href="{% url 'index' %}"><i class="fa-solid fa-arrow-left-long"></i></a>
            <!-- header name -->
            {% comment %} {% for category in categories %} {% endcomment %}
                <p>
                    All products
                </p>
            
            <span></span>
        </div>
    </header>
    <!-- menu box -->
    <nav class="menu-bar">
        <i class="fa-solid fa-bars" onclick="menuToggole(this);"></i>
        <!-- <i class="fa-solid fa-xmark"></i> -->
    </nav>
    <br>

    <section class="filter">
        <div class="f-icon">
            <i class="fa-solid fa-arrow-up-wide-short"></i>
        </div>
        <div class="f-items">
            <ul>
                <li><a href="{% url 'allproducts' %}">All</a></li>
                {% for category in categories %}
                    <li><a href="/all-products/?categories={{category.cat_id}}">{{ category.cat_title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <br>

    <!-- all products list -->
    <section class="all-products-items">
        {% for product in products %}
            <a href="{% url 'productdetails' product.slug %}" class="all-items">
                <div class="all-products">
                    <!-- stock status -->
                    <span class="status">
                        <p>{{ product.stock_status }}</p>
                    </span>
                    <!-- image -->
                    {% for image in product.product_images.all|slice:":1" %}
                        <img alt="" src="{{ image.images.url }}">
                    {% endfor %}
                    <!-- product info -->
                    <div class="product-info">
                        <!-- selling price -->
                        <span class="price"><p>{{ product.selling_price }}rmb</p></span>
                        <!-- name -->
                        <span class="product-title"><p>{{ product.product_name }}</p></span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>


    {% comment %} pagination {% endcomment %}
    <nav aria-label="..." class="pagination">
        <ul class="pagination">
          <li class="page-item disabled">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}"><span class="page-link">Previous</span></a>
            {% endif %}
          </li>
          {% comment %} <li class="page-item"><a class="page-link" href="?page={{ products.number }}">{{ products.previous_page.number }}</a></li> {% endcomment %}
          <li class="page-item active">
            <span class="page-link">
                {{products.number}}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          {% comment %} <li class="page-item"><a class="page-link" href="#">{{ products.paginator.num_pages }}</a></li> {% endcomment %}
          <li class="page-item">
            {% if products.has_next %}
                <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
            {% endif %}
          </li>
        </ul>
    </nav>

    <br>


{% endblock content %}